.main-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-row {
  width: 885px;
  max-width: 885px;
  overflow: hidden;
  /* top right bottom left */
  margin-top: 30px;
}

.top-section {
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 20px;
}
.icons-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rowIcon {
  font-size: 20px;
  color: rgb(148, 148, 148);
  cursor: pointer;
}
.rowIcon:hover {
  color: #1683c6 !important;
}

.bottop-section {
  margin-top: 20px;
  transition: all 1s ease;
  display: flex;
}
.row-item {
  width: 300px;
}
.row-img {
  width: 165px;
  height: 200px;
  max-height: 200px;
  margin-left: 10px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 2px;
}

.row-img:hover {
  transition: all 0-5s ease;
  transform: scale(1.08);
}

@media (max-width: 800px) {
  .rowIcon {
    display: none;
  }
  .title {
    margin-left: 10px;
  }
  .bottop-section {
    overflow: auto scroll;
  }
}
