.main-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-row {
  width: 70%;
  overflow: hidden;
  /* top right bottom left */
  margin: 3% 5% 0px 5%;
}

.top-section {
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 20px;
}
.icons-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rowIcon {
  font-size: 20px;
  color: rgb(148, 148, 148);
  cursor: pointer;
}
.rowIcon:hover {
  color: #1683c6 !important;
}

.bottop-section {
  margin-top: 20px;
  display: flex;
  transition: all 1s ease;
}

.row-img {
  margin-left: 10px;
  width: 165px;
  height: 230px;
  object-fit: cover;
}
