.main-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-row {
  width: 885px;
  max-width: 885px;
  overflow: hidden;
  /* top right bottom left */
  margin-top: 30px;
}

.top-section {
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 20px;
}
.icons-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rowIcon {
  font-size: 20px;
  color: rgb(148, 148, 148);
  cursor: pointer;
}
.rowIcon:hover {
  color: #1683c6 !important;
}
/* bottom */

.bottop-section {
  margin-top: 20px;
  transition: all 1s ease;
  display: flex;
}
.row-item {
  position: relative;
  width: 165px;
  height: 200px;
  max-height: 200px;
  margin-left: 10px;
  cursor: pointer;
}

.row-img {
  width: 165px;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  border-radius: 4px;
}

/* Movie Description */

.main-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(202, 202, 202);
  background-color: white;
  border-radius: 4px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.14);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.14);
}

.main-desc h1 {
  font-weight: bold;
  cursor: initial;
  font-size: 12px;
  padding: 10px;
  color: rgb(17, 17, 17);
}

.main-desc p {
  font-size: 10px;
  padding: 10px;
  cursor: initial;
  color: rgb(34, 33, 33);
}

.desc-info {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  background-color: #009155;
}
.desc-info p {
  color: white;
}

/* Break */
@media (max-width: 800px) {
  .rowIcon {
    display: none;
  }
  .title {
    margin-left: 10px;
  }
  .bottop-section {
    overflow: auto scroll;
    overflow-y: hidden;
  }
}
